@model Parcial4_IvanMendoza.Models.DATOS
@{
    ViewBag.Title = "calculoEstudiante";
}

<h2>Calculo de notas de Estudiante</h2>

@*<h4>
    @Html.ActionLink("Sumar numeros", "Index")
    @Html.ActionLink("Restar numeros", "IndexSuma")
    @Html.ActionLink("multiplicar numeros", "IndexDivision")
    @Html.ActionLink("Dividir numeros", "IndexDivision")
    @Html.ActionLink("Grados Celcius a Fahrenheit", "ConversionGrados")
    @Html.ActionLink("Grados Fahrenheit a Celcius", "ConversionGrados2")
    @Html.ActionLink("Kilogramos a libras", "ConversionPeso")
    @Html.ActionLink("Libras a Kilogramos", "ConversionPeso2")
    @Html.ActionLink("Metros a pulgadas", "ConversionLongitud")
    @Html.ActionLink("Calcular nota", "FormularioNotas")
</h4><br />*@



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(Model => Model.codEstudiante, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.codEstudiante, new
   {
       @class = "form-control",
       type
   = "number"
   })
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.nomEstudiante, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.nomEstudiante, new
   {
       @class = "form-control",
       type
   = "text"
   })
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.nomMateria, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.nomMateria, new
   {
       @class = "form-control",
       type
   = "text"
   })
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.nota1, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.nota1, new
   {
       @class = "form-control",
       type
   = "number"
   })
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.nota2, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.nota2, new
   {
       @class = "form-control",
       type
   = "number"
   })
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.nota3, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.nota3, new
   {
       @class = "form-control",
       type
   = "number"
   })
    </div>


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>

    <br /><br />
    if (ViewBag.resultado != null)
    {
        <h2>DATOS</h2><br />
        <p>Codigo del estudiante: &nbsp;@ViewBag.codEstu</p>
        <p>Nombre del estudiante: &nbsp;@ViewBag.nomEstu</p>
        <p>Nombre de la materia: &nbsp;@ViewBag.nomMate</p>
        <p>Nota obtenida: &nbsp;@ViewBag.resultado</p>
        <p>&nbsp;@ViewBag.mensaje</p>
    }
}


